<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<sectionGroup name="businessObjects">
			<sectionGroup name="crystalReports">
				<section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
				<section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
			</sectionGroup>
		</sectionGroup>
	</configSections>

	<businessObjects>
		<crystalReports>
			<rptBuildProvider>
				<add embedRptInResource="true" />
			</rptBuildProvider>
			<crystalReportViewer>
				<add key="ResourceUri" value="/crystalreportviewers13" />
			</crystalReportViewer>
		</crystalReports>
	</businessObjects>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>

	<system.web>
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
		<compilation debug="true" targetFramework="4.5.2">
			<assemblies>
				<add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
			</assemblies>
		</compilation>
		<httpRuntime  maxRequestLength="600000" requestValidationMode="2.0"/>
		<httpHandlers>
			<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
		</httpHandlers>
		<pages validateRequest="false" enableViewStateMac="false" enableEventValidation="false" />
		<customErrors mode="Off" defaultRedirect="/CustomErrors/webError.aspx">
			<error statusCode="404" redirect="/CustomErrors/webError.aspx" />
		</customErrors>
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="true" />
		<defaultDocument enabled="true">
			<files>
				<add value="pages/Login.aspx" />
			</files>
		</defaultDocument>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
		<handlers>
			<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<connectionStrings>
		<!--<add connectionString="Data Source=192.168.2.93;Initial Catalog=SAOLive_ABrown;Persist Security Info=True;User ID=sa;Password=B1Admin;Connection Timeout=0" name="Addon" providerName="System.Data.SqlClient" />-->
		<!--<add connectionString="Data Source=192.168.2.93;Initial Catalog=SBOLive_MDC_20200817_0918;Persist Security Info=True;User ID=sa;Password=B1Admin;Connection Timeout=0" name="SAP" providerName="System.Data.SqlClient" />-->
		<add name="SAOHana" connectionString="DRIVER={HDBODBC32};SERVERNODE=HANADIRECSERVER:30015; UID=SYSTEM; PWD=Sb1@dbti; CS=SAOLIVE_ABCI;" providerName="Sap.Data.Hana"/>
		<!--<add name="SAOHana" connectionString="DRIVER={HDBODBC32};SERVERNODE=192.168.2.15:30015;UID=SYSTEM;PWD=Sb1@dbti;CS=SAOLIVE_ABCI;" providerName="Sap.Data.Hana"/>-->
		<!--<add name="SAPHana" connectionString="DRIVER={HDBODBC32};SERVERNODE=192.168.2.15:30015;UID=SYSTEM;PWD=Sb1@dbti;CS=SBOEUT_DREAMS;" providerName="Sap.Data.Hana"/>-->
		<!--<add name="SAOHana" connectionString="DRIVER={HDBODBC32};SERVERNODE=192.168.2.15:30015;UID=SYSTEM;PWD=Sb1@dbti;CS=SAOLIVE_ABCI_09252021_EUT;" providerName="Sap.Data.Hana"/>-->
		<add name="SAPHana" connectionString="DRIVER={HDBODBC32};SERVERNODE=HANADIRECSERVER:30015; UID=SYSTEM; PWD=Sb1@dbti; CS=SBOUAT_ABCI;" providerName="Sap.Data.Hana"/>
		<!--<add name="SAPHana" connectionString="DRIVER={HDBODBC32};SERVERNODE=192.168.2.15:30015;UID=SYSTEM;PWD=Sb1@dbti;CS=SBOEUT_ABCI;" providerName="Sap.Data.Hana"/>-->


	</connectionStrings>
	<appSettings>
		<add key="PRJCode" value="CRE02" />
		<add key="PRJName" value="Coral Resorts Estates Phase 2" />
		<add key="jsonProjectLot" value="/webservice/DirecWebService.asmx/GetLot_JSON?" />
		<!--For New Dashboard Lot tagging-->
		<add key="jsonNewProjectLot" value="/webservice/DirecWebService.asmx/GetNewLot_JSON?" />
		<!--For New Dashboard Lot tagging-->
		<add key="jsonProject" value="/webservice/DirecWebService.asmx/GetMapMarkers_JSON?" />
		<add key="imgBlock" value="/Handler/BlockPreview.ashx?" />
		<add key="imgProject" value="/Handler/ImageViewer.ashx?" />
		<add key="jsonPrjwithColor" value="/webservice/DirecWebService.asmx/GetAvailableLot_JSON?" />
		<!--For New Dashboard Lot tagging-->
		<add key="jsonNewPrjwithColor" value="/webservice/DirecWebService.asmx/GetNewAvailableLot_JSON?" />
		<!--For New Dashboard Lot tagging-->
		<add key="tempLotColor" value="orange" />
		<add key="LotColor" value="green" />
		<add key="LotRadius" value="15" />
		<add key="MapFontSize" value="15" />
		<add key="BPSeries" value="78" />
		<add key="BrokerBPSeries" value="70" />
		<add key="BrokerBPGroup" value="102" />
		<add key="ClearingAccount" value="204001" />
		<add key="BPPriceList" value="2" />
		<add key="TitleInventoryItemGroup" value="105" />
		<add key="CreditValidDatePrefix" value="20" />

		<add key="VendorGroupCode" value="102" />
		<add key="DefaultPaymentTermForVendor" value="-1" />
		<add key="PayTermsGrpCode" value="20" />
		<add key="Currency" value="PHP" />
		<add key="ATCCode" value="155" />

		<add key="QuotationSeries" value="127" />
		<add key="SalesOrderSeries" value="123" />
		<add key="ARInvoiceSeries" value="115" />
		<add key="ARCreditMemoSeries" value="119" />
		<add key="IncomingPaymentSeries" value="108" />


		<!--Added new accounts-->
		<add key="CashAccount" value="100200" />
		<add key="CheckAccount" value="100201" />
		<add key="OthersAccount" value="100203" />
		<add key="ARClearingAccount" value="102001" />
		<add key="APOthersAccount" value="200005" />
		<add key="CreditableWithholdingTaxAccount" value="107103" />
		<add key="OutputVATClearingAccount" value="202011" />
		<add key="OutputVATAccount" value="202009" />
		<add key="SalesREVATAccount" value="400002" />
		<add key="CostOfSalesCollected" value="500001" />
		<add key="UnearnedIncomeAccount" value="201005" />
		<add key="CostOfSalesRE" value="500003" />
		<add key="CostOfSalesUncollected" value="500002" />
		<add key="SalesCollectedAccount" value="400001" />
		<add key="SalesUncollectedAccount" value="500002" />
		<add key="AccumulatedCostOfSalesAccount" value="103016" />
		<add key="ContractReceivablesDeferredAccount" value="102106"/>
		<add key="ContractReceivablesInstallmentAccount" value="102103"/>
		<add key="SalesUncollectedVATAccount" value="400006"/>
		<add key="CostOfSalesClearingAccount" value="500009"/>

		<add key="AccountsPayableAccount" value="200003"/>

		<add key="CommissionExpenseAccount" value="600032"/>
		<add key="PrepaidCommissionAccount" value="107402"/>

		<add key="SalesCollectedNonVAT" value="400005"/>
		<add key="SalesUncollectedNonVAT" value="400007"/>

		<add key="IPSVATAccount" value="702008"/>
		<add key="IPSNonVATAccount" value="702009"/>
		<add key="IPSControlAccount" value="102001"/>
		<add key="InterestVATAccount" value="702001"/>
		<add key="InterestNonVATAccount" value="702002"/>


		<add key="BIRCardCode" value="OT-00012"/>
		<add key="SurchargeProperty" value="QryGroup6" />


		<!--##########################-->
		<!--REPORT PATH-->
		<!--##########################-->
		<!--<add key="ReportPath" value="\\192.168.2.32\abci reports\REPORTS\" />
		<add key="ReportPathForms" value="\\192.168.2.32\abci reports" />-->
		<!--<add key="ReportPath" value="\\172.31.16.222\b1_shf\abci reports\REPORTS\" />-->
		<add key="ReportPath" value="\\192.168.2.15\b1_shf\abci reports\REPORTS\" />
		<!--<add key="ReportPath" value="D:\PROJECTS\ABCI\DOCUMENTS\abci reports\REPORTS\" />-->
		<add key="ReportPathForms" value="\\192.168.2.15\b1_shf\abci reports" />
		<add key="QuotationForm" value="ABCI - Sales Quotation.rpt" />
		<add key="RestructuringForm" value="CTSAddendum.rpt" />
		<!--Cash Register-->
		<add key="ORForm" value="Official Receipt (Shooting) v3.rpt" />
		<add key="ARForm" value="ACKNOWLEDGEMENT RECEIPT.rpt" />
		<add key="PRForm" value="Provisional Receipt (Shooting).rpt" />
		<add key="SurchargeForm" value="ABCI - Surcharge Computation.rpt" />
		<add key="DemandLetterForm1" value="ABCI - Demand Letter 1.rpt" />
		<add key="DemandLetterForm2" value="ABCI - Demand Letter 2.rpt" />
		<add key="DemandLetterForm3" value="ABCI - Demand Letter 3.rpt" />
		<add key="DemandLetterForm4" value="ABCI - Demand Letter 4.rpt" />
		<add key="DemandLetterForm5" value="ABCI - Demand Letter 5.rpt" />
		<add key="PDCForm" value="ABCI - PDC Form.rpt" />
		<!--Change this later-->
		<!--Document Requirements-->
		<add key="DocumentRequirement" value="ABCI - Contract to Sell.rpt" />
		<!--Broker Approval-->
		<add key="BrokerApplication" value="ABCI - BROKER APPLICATION FORM.rpt" />
		<add key="AccreditationAgreement" value="ABCI - Accreditation Agreement.rpt" />
		<add key="BrokerAccreditationGeneralPolicies" value="ABCI - General Policies.rpt" />
		<add key="ListofAccreditedSalesPersons" value="ABCI -List of Accredited Sales Person.rpt" />
		<!--Buyers-->
		<add key="BuyersInfoForm" value="ABCI - BUYERS INFORMATION FORM.rpt" />



		<!--Broker Report-->
		<add key="ATPDateExp" value="60" />

		<!--Email Credentials-->
		<!--<add key="EmailAddFrom" value="direc.joses@gmail.com" />-->
		<!--<add key="EmailPassword" value="dkblztxjbvifkoaz" />-->
		<add key="EmailAddFrom" value="sboautomail.abci@gmail.com" />
		<add key="EmailPassword" value="Sb1@abci" />
		<!--FOR LIVE-->
		<!--<add key="EmailCC" value="rndteam@direcbsi.com, marketing_cdo@abrown.ph" />-->
		<add key="EmailCC" value="rndteam@direcbsi.com" />
		<add key="EmailTo" value="rndteam@direcbsi.com" />
		<add key="EmailAlias" value="DREAMS - Broker Information" />
		<add key="EmailPort" value="587" />
		<add key="EmailHost" value="smtp.gmail.com" />
		<add key="EmailSubjectBrokerGen" value="BROKER ID GENERATED -- DREAMS " />
		<add key="EmailSubjectApproval" value="BROKER STATUS UPDATE -- DREAMS " />
		<add key="EmailSubjectApprovalOnGoing" value="BROKER APPLICATION - ON-GOING CHECKING - DREAMS " />
		<add key="EmailBodyBrokerGen" value="Hi! Registration of broker is now pending. You may review the information by using the generated Broker ID code." />
		<add key="EmailBodySubjectApproval" value="Hi! Broker Status is now updated to: " />
		<add key="EmailBodySubjectApprovalOnGoing" value="Hi! Your application is now being checked by our approvers. Another email will be sent after checking the application. Thank you!" />
		<add key="EmailPicture" value="https://direcbusiness.com/wp-content/uploads/2020/03/DBTI-Logo-PNG-300x143.png" />
		<add key="BrokerPageLink" value="http://192.168.2.32:9777/pages/BrokerPage.aspx" />
		<add key="BrokerPageLinkMessage" value="Please check the supplied broker information." />
		<add key="BrokeApprovedLink" value="http://192.168.2.32:9777/pages/Login.aspx" />
		<add key="BrokeApprovedLinkMessage" value="Please login to DREAMS by clicking me." />

		<!--INCOMING PAYMENT CONFIG-->
		<add key="ARReserveInvoiceCondition" value="0.25" />


		<!--HANA CONFIG SAP-->
		<!--<add key="HANADatabase" value="SBOEUT_ABCI" />-->
		<add key="HANADatabase" value="SBOUAT_ABCI" />
		<add key="HANAUserID" value="SYSTEM" />
		<add key="HANADriver" value="{HDBODBC32}" />
		<add key="HANAPassword" value="Sb1@dbti" />
		<!--<add key="HANAServer" value="54.251.118.181:30015" />-->
		<add key="HANAServer" value="192.168.2.15:30015" />


		<!--FOR CLOUD-->
		<!--<add key="HANAPassword" value="Sb1@abci" />
		<add key="HANAServer" value="54.251.118.181:30015" />-->

		<!--HANA CONFIG ADDON-->
		<!--<add key="SAODatabase" value="SAOLIVE_ABCI_09252021q_EUT" />-->
		<add key="SAODatabase" value="SAOLIVE_ABCI" />
		<!--<add key="SAOServer" value="" />-->

		<!--FOR CLOUD-->
		<!--<add key="SAOServer" value="54.251.118.181" />-->
		<add key="SAOServer" value="HANADIRECSERVER" />

		<!--SAP Config-->
		<!--<add key="LicenseServer" value="192.168.2.93" />
		<add key="LicenseServerPort" value="30000" />
		<add key="SAPServer" value="192.168.2.93" />
		<add key="SAPServerPort" value="" />
		<add key="ServerType" value="dst_MSSQL2014" />
		<add key="LicenseID" value="manager" />
		<add key="LicensePassword" value="B1Admin" />-->

		<!--SL Config-->
		<!--FOR CLOUD-->
		<!--<add key="SapServiceLayerServer" value="54.251.118.181" />-->


		<!--<add key="SapServiceLayerServer" value="54.251.118.181" />-->
		<add key="SapServiceLayerServer" value="HANADIRECSERVER" />
		<add key="SapUserId" value="manager" />
		<add key="SapPassword" value="Sb1@abci" />

		<!--Forwarded-->
		<add key="Forwarded" value="DP" />
		<add key="LTermsBuffer" value="3" />
		<add key="DPPenalty" value="0.05" />
		<add key="MAPenalty" value="0.03" />
		<add key="PenaltyItemCode" value="CH-00048" />
		<add key="InterestItemCode" value="CH-00049" />
		<add key="AddtlChargesBuffer" value="100000" />
		<add key="LDFactorRate" value="10.5" />
		<add key="RGP" value="4300000" />
		<add key="UGP" value="2026000" />
		<add key="Advances" value="1023200" />
		<add key="regedit" value="12-31-2021" />

	</appSettings>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<bindings />
		<client />
	</system.serviceModel>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="15728640" />
			</requestFiltering>
		</security>
	</system.webServer>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000"/>
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>
















